In [19]:
import pandas as pd
import json

In [13]:
Trail = pd.read_csv('hyperparameter_data.csv')

In [44]:
import ast

In [33]:
Trail['hyperparameters'].apply(lambda x: ast.literal_eval(x))

0       {'base_score': 0.5, 'monotone_constraints': '(...
1       {'monotone_constraints': '(0)', 'max_depth': 1...
2       {'tree_method': 'auto', 'l2_regularization': 1...
3       {'base_score': 0.5, 'column_sample_by_tree': 1...
4       {'column_sample_by_tree': 1.0, 'monotone_const...
                              ...
3720    {'max_count': 348, 'min_child_weight': 68, 'l2...
3721    {'column_sample_by_tree': 1.0, 'max_count': 33...
3722    {'monotone_constraints': '(0)', 'learn_rate': ...
3723    {'monotone_constraints': '(0)', 'subsample_rat...
3724    {'column_sample_by_level': 1.0, 'monotone_cons...
Name: hyperparameters, Length: 3725, dtype: object

In [34]:
Trail['hyperparameters'] = Trail['hyperparameters'].apply(lambda x: ast.literal_eval(x))

In [38]:
pd.DataFrame(list(Trail['hyperparameters'].values))

,base_score,monotone_constraints,column_sample_by_tree,column_sample_by_level,tree_method,subsample_ratio,max_count,l2_regularization,learn_rate,max_depth,min_child_weight,loss,maxCategories
0,0.5,(0),1.0,1.0,auto,1.0,168,1.0,0.077407,10,63,NaN,NaN
1,0.5,(0),1.0,1.0,auto,1.0,160,1.0,0.061635,11,37,NaN,NaN
2,0.5,(0),1.0,1.0,auto,1.0,366,1.0,0.071619,11,44,NaN,NaN
3,0.5,(0),1.0,1.0,auto,1.0,323,1.0,0.050162,11,61,none,NaN
4,0.5,(0),1.0,1.0,auto,1.0,274,1.0,0.098661,12,51,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3720,0.5,(0),1.0,1.0,auto,1.0,348,1.0,0.081830,11,68,NaN,NaN
3721,0.5,(0),1.0,1.0,auto,1.0,338,1.0,0.074883,10,35,NaN,NaN
3722,0.5,(0),1.0,1.0,auto,1.0,137,1.0,0.054669,11,57,NaN,NaN
3723,0.5,(0),1.0,1.0,auto,1.0,348,1.0,0.061291,11,32,NaN,-2.0
3724,0.5,(0),1.0,1.0,auto,1.0,338,1.0,0.061523,11,69,NaN,NaN

In [42]:
hyperparameter = pd.concat([Trail,pd.DataFrame(list(Trail['hyperparameters'].values))],axis=1 )

In [49]:
hyperparameter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3725 entries, 0 to 3724
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              3725 non-null   int64
 1   hyperparameters         3725 non-null   object
 2   trial_id                3725 non-null   object
 3   parent_study_id         3725 non-null   object
 4   base_score              3725 non-null   float64
 5   monotone_constraints    3725 non-null   object
 6   column_sample_by_tree   3725 non-null   float64
 7   column_sample_by_level  3725 non-null   float64
 8   tree_method             3725 non-null   object
 9   subsample_ratio         3725 non-null   float64
 10  max_count               3725 non-null   int64
 11  l2_regularization       3725 non-null   float64
 12  learn_rate              3725 non-null   float64
 13  max_depth               3725 non-null   int64
 14  min_child_weight        3725 non-null   int64
 15  loss                    300 non-null    object
 16  maxCategories           249 non-null    float64
dtypes: float64(7), int64(4), object(6)
memory usage: 494.9+ KB

In [51]:
hyperparameter['trial_id'][0]

'model_20211021-140355-3d2e0e259d-63c4e8d218'

In [64]:

pd.read_csv(r'C:\Users\cheng\Desktop\235\data\learning_summaries\model_20210812-213541-fca9797c32-54d221a196_model_20210812-213541-fca9797c32.csv')

,Unnamed: 0,train_summaries,test_summaries,trial_id,parent_study_id
0,0,610.553528,634.190674,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
1,1,575.832214,600.482666,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
2,2,543.291260,568.872192,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
3,3,512.808044,539.260071,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
4,4,484.260498,511.521454,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
...,...,...,...,...,...
268,268,110.269661,131.511078,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
269,269,110.246490,131.503250,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
270,270,110.219116,131.492676,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
271,271,110.196045,131.487015,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32
272,272,110.174530,131.477737,model_20210812-213541-fca9797c32-54d221a196,model_20210812-213541-fca9797c32